[Desktop Entry]
Name=ExecuteParte2
Comment=Test hello world script
Exec=bash -c "export PATH=$PATH:`dirname %k`; ./Parte2"
Icon=/home/rankern/Practicas/Videogames/Executables/Practica 1/Linux/image.jpeg
Terminal=false
Type=Application
Name[es_ES]=ExecuteParte2
